header ul li{
    list-style: none;
    cursor: pointer;
    font-size: 1.34rem;
    color: rgba(255, 255, 255, 0.87);
}

header ul li:hover{
    color: rgb(123, 115, 115);
}

header{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 2.4rem;
    display: inline-block;
    width: 1600px;
}